.toolbar {
    background-color: transparent;
    color:white;
    /*font-weight: bold;*/
    position: relative;
  }

  .toolbar2 {
    background-color: #9c27b0;
    color:white;
    /*font-weight: bold;*/
  }


  .logo {
    margin-top: 1.5em;
  }

  .toolbar-icon {
    padding: 0 14px;
    color: white;
  }

  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .nav-menu {
    padding-left: 15px;
    padding-right: 15px;
    color: #dccfcf;
    cursor: pointer;
    vertical-align: text-bottom;
  }

  .active {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 2px solid white;
  }


  /* Side Panel */

  .app-container {
    flex-direction: column;
    /*width: 500px;
    //min-height: 900px;*/
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .app-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .app-sidenav {
    padding: 20px;
    width: 250px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    flex:1;
  }

  .panel-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .mat-elevation-z2 {
    box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);
  }

  .main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
  }


.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.mat-drawer-container {
  /*position: absolute;*/
}

