.gallery-toolbar {
  background-color: purple;
  color:white;
  font-weight: bold;
}


.logo {
  margin-top: 1.5em;
}

.toolbar {        
  background-color: transparent;
  color:white;
  font-weight: bold;
  position: relative;
}

.toolbar2 {
  background-color: purple;
  color:white;
  font-weight: bold;
}


.img {
  width: 100%;
  margin-bottom: 18%;
}
.card-picture {
  width: 23%;
  margin-bottom: 2%;
}
.container {
  min-height: 100%;
  width: 100%;
}
.search-form {
  width: 90%;
}




