<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center">
    <div fxFlex="25%"></div>
    <div class="" fxFlex="50%" style="margin-top: 30px;">
        <mat-card class="signup-card" style="margin-left: 10px;margin-right: 10px;">
            <mat-card-header>
                <div mat-card-avatar class="signup-header-image">
                    <img src="../../../assets/images/reset.png">
                </div>
                <mat-card-title style="margin-left: 25px;">Password Reset</mat-card-title>
                <mat-card-subtitle style="margin-left: 25px;">Reset your password</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)" class="signup-form">

                    <mat-form-field class="signup-full-width" hintLabel="Should be at least 6 characters long">
                        <input type="password" matInput placeholder="Your password" ngModel name="password" required minlength="6" #pwInput="ngModel">
                        <mat-hint align="end">{{pwInput.value?.length}} / 6</mat-hint>
                        <mat-error *ngIf="pwInput.errors?.required">password is required!</mat-error>
                        <mat-error *ngIf="pwInput.touched && pwInput.errors?.minlength ">password must be at least 6 characters long!</mat-error>
                    </mat-form-field>


                    <mat-form-field class="signup-full-width">
                        <input type="password" matInput appEqualValidator="password" placeholder="Confirm Your password" ngModel name="password2" #pw2Input="ngModel" required>
                        <mat-error *ngIf="pw2Input.touched && pw2Input.errors?.notEqual">password and confirm password do not match!</mat-error>
                    </mat-form-field>

                    <button mat-raised-button color="primary" [disabled]="f.invalid">SUBMIT</button>
                    <!-- type="submit"-->
                </form>
                <div class="msg">{{message}}</div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex="25%"></div>
</div>