<app-carousel></app-carousel>
<div class="blocks" fxFlex = "10%"></div>
    <div class="blocks" fxFlex = "80%">
      <div  fxLayout="row"  fxLayout.xs="column" >
        <div class="blocks" fxFlex = "50%">
          <span class="gallery-home-text">Show Case</span>
          
          <div style="margin-top: 2em; width: 75%; text-align: left;padding-left: 2em;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          </div>
          <div style="margin-left: 2em;margin-bottom: 20px;">
              <button md-raised-button style="padding: 1.5em;background-color: brown; color: white; font-weight: bold; font-size: 1em;">View Gallery</button>
          </div>
        </div>
        <div class="blocks" fxFlex = "50%">
          <img src="http://placehold.it/240x330" style="margin-left: 2em; ">
        </div>
      </div>
      
    </div>
<div class="blocks" fxFlex></div>
