
.app-side-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
  }
  /*
  .bg {
    background-image: url('../assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
  }
  */
  .bg2 {
    background-color: antiquewhite;
  }
  
  .no-logo {
    display: none;
  }
  
  .app-sidenav {
    padding: 20px;
    width: 250px;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    flex:1;
  }
  
  .toolbar {
    background-color: transparent;
    color:white;
    /*font-weight: bold;*/
    position: relative;
  }
  
  .toolbar2 {
    background-color: #9c27b0;
    color:white;
    /*font-weight: bold;*/
  }
  
  
  .logo {
    margin-top: 1.5em;
  }
  
  .toolbar-icon {
    padding: 0 14px;
    color: white;
  }
  
  .toolbar-spacer {
    flex: 1 1 auto;
  }
  
  .nav-menu {
    padding-left: 15px;
    padding-right: 15px;
    color: #dccfcf;
    cursor: pointer;
    vertical-align: text-bottom;
  }
  
  .active {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 6px;
    border-bottom: 3px solid red;
  }
  
  .mat-elevation-z2 {
    box-shadow: 0 0 0 0 rgba(0,0,0,.2), 0 0 0 0 rgba(0,0,0,.14), 0 0 0 0 rgba(0,0,0,.12);  
  }
  
  .side {
    flex-direction: column;
    flex:1;
  }
  
  .side-header {
    flex-direction: column;
  }
  
  .panel-header-spacer {
    flex: 1 1 auto;
  }
  
  .list-item {
    color: wheat;
  }
  
  .side-active {
    font-weight: bold;
    color: rgb(255, 208, 0);
  }
  
  .img-circle {
    border-radius: 50%;
  }
  
  