 <!--<app-toolbar></app-toolbar>-->
  <div class="about-banner">
    <div class="about-slogan">
      <h1 style="display: inline-block;">Our Story...</h1>
    </div>
  </div>
  <div class="about-content">
    <div class="blocks" fxFlex = "10%"></div>
    <div class="blocks about-title" fxFlex = "80%">
      <div class="blocks" fxFlex = "40%">
        <h1 style="text-align: center;"> <i class="material-icons" style="font-size: 1.05em; vertical-align: bottom; color: #ff7600;" >ac_unit</i> ABOUT</h1>
      </div>
      <div class="blocks" fxFlex = "60%">
        <div class="content">
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </div>
      </div>
    </div>
    <div class="blocks" fxFlex></div>
  </div>
  <div class="container" fxLayoutAlign="center" style="margin-bottom: 2em;">
    <!--
      <mat-card class="about-card">
          <mat-card-header >
            <div mat-card-avatar class="about-header-image" ></div>
            <mat-card-title style="font-size: 1.25em;">Our Artists</mat-card-title>
            <mat-card-subtitle style="font-style: italic;">by passion, imagination and inspiration</mat-card-subtitle>

          </mat-card-header>
          <div >
            <div class="blocks" fxFlex="35%"></div>
            <div class="blocks" fxFlex="30%" style="text-align: center;">
              <img src="http://placehold.it/70x70" alt="Shiba Inu">
              <img src="http://placehold.it/70x70" alt="Shiba Inu" style="margin-left: 1em;">
            </div>
            <div class="blocks" fxFlex="35%"></div>

          </div>

          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      -->
      <mat-card class="about-card">
          <mat-card-header >
            <div mat-card-avatar class="card-header-image" >
              <img src="../../assets/images/icon-8.png" width="55" height="55" >
              <img src="../../assets/images/icon-9.png" width="55" height="55" >
            </div>
            <!--<mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
          </mat-card-header>
          <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
          <mat-card-content style="margin-top: 2em;">
              <div class="blocks" fxFlex = "20%"></div>
              <div class="blocks about-title" fxFlex = "60%">
                The Shiba Inu is the smallest of the six original
                and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous
                terrain, the Shiba Inu was originally
                bred for hunting.

              </div>
              <div class="blocks" fxFlex></div>


          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
    </div>


