<!--<p>
  img-list works!
</p>-->

<div class="container">
  <div fxLayout="row"  fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="20%">
      <img class="item img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg">
    </div>
    <div fxFlex="20%">
      <img class="item img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/LTLE4QGRVQ.jpg">
    </div>
    <div fxFlex="20%">
      <img class="item img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/R926LU1YEA.jpg">
    </div>
    <div fxFlex="20%">
      <img class="item img" src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/U9PP3KXXY2.jpg">
    </div>

    <!--<div class="blocks" fxFlex = "20%">1</div>
    <div class="blocks" fxFlex = "60%">
      <div  fxLayout="row"  fxLayout.xs="column" >
        <div class="blocks" fxFlex = "50%">
          <span class="gallery-home-text">Welcome</span>
          
          <div style="margin-top: 2em; width: 75%; text-align: left;padding-left: 2em;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          </div>
        </div>
        <div class="blocks" fxFlex = "50%">
          <img src="http://placehold.it/240x330" style="margin-left: 2em;">
        </div>
      </div>
      
    </div>
    <div class="blocks" fxFlex>3</div>-->


  </div>
</div>
