<!--<p>
  sidenav works!
</p>-->

<!--
<mat-drawer-container class="app-side-container" [hasBackdrop]="hasBackdrop.value">
  <app-toolbar></app-toolbar>
    <mat-drawer #drawer [mode]="mode.value">I'm a drawer</mat-drawer>
    <mat-drawer-content>
        <mat-form-field>
          <mat-label>Sidenav mode</mat-label>
          <mat-select #mode value="side">
            <mat-option value="side">Side</mat-option>
            <mat-option value="over">Over</mat-option>
            <mat-option value="push">Push</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Has backdrop</mat-label>
          <mat-select #hasBackdrop>
            <mat-option>Unset</mat-option>
            <mat-option [value]="true">True</mat-option>
            <mat-option [value]="false">False</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
    </mat-drawer-content>
</mat-drawer-container>

-->


<mat-drawer-container class="app-side-container bg">
    <mat-drawer mode="side" opened>Sidenav content</mat-drawer>
    <mat-drawer-content>

      <app-toolbar></app-toolbar>
      <div style="text-align:center; margin-top: 5em;">
          <img width="200" alt="Angular Logo" src="../../assets/images/logo.png">

      </div>
      <div style="text-align:center; margin-top: 5em;" class="">
          <a href="" [routerLink]="['/gallery']" class="enterlink">View Gallery</a>
      </div>

      <!--<router-outlet></router-outlet>-->

    </mat-drawer-content>
</mat-drawer-container>
