<mat-drawer-container class="app-side-container bg">
    <mat-drawer mode="side" opened>Sidenav content</mat-drawer>
    <mat-drawer-content>

      <!--<app-toolbar></app-toolbar>-->
      <div style="text-align:center; margin-top: 5em;">
          <img width="200" alt="Angular Logo" src="../../assets/images/logo.png">

      </div>
      <div style="text-align:center; margin-top: 5em;" class="">
          <a href="" [routerLink]="['/gallery']" class="enterlink">View Gallery</a>
      </div>

      <!--<router-outlet></router-outlet>-->

    </mat-drawer-content>
</mat-drawer-container>
